/* ================================
   Prevent navbar from being overlapped by pagination/content
================================ */

.layout-navbar {
  z-index: 1030 !important;
}

/*  ================================
Horizontal scroll without visible scrollbar 
 ================================ */

.horizontal-scroll {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

/* Hide scrollbar - Chrome, Safari */
.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar - Firefox */
.horizontal-scroll {
  scrollbar-width: none;
}

.product-scroll-item {
  min-width: 220px;
  scroll-snap-align: start;
}

/* category card on home page*/
.category-card--compact {
  height: 180px; /* 👈 اینجا بازی کن: 160–200 عالیه */
}

.category-card--compact img {
  height: 100%;
  width: 100%;
}

.category-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.55)
  );
  z-index: 0;
}

.category-card .card-img-overlay {
  z-index: 1;
}

.category-card {
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

.category-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.18);
}

@media (max-width: 576px) {
  .category-card--compact {
    height: 150px;
  }
}

.shipping-disabled .custom-option {
  opacity: 0.5;
  pointer-events: none;
}

.shipping-disabled .custom-option.checked {
  border-color: #dee2e6 !important;
  box-shadow: none !important;
}

/* ================================
   Carousel CTA buttons 
================================ */

#swiper-home-hero .btn-outline-light:hover {
  color: #212529;
  background-color: #f8f9fa;
}

/* ================================
   Crrt Badge Style 
================================ */

.cart-badge {
  position: absolute;
  top: -6px;
  right: -6px;

  pointer-events: none;

  width: 18px;
  height: 18px;

  background: #ff3e1d;
  color: white;

  font-size: 11px;
  font-weight: 600;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 1;

  animation: cartBounce 0.35s ease;
}

@keyframes cartBounce {
  0% {
    transform: scale(0.4);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
