html,
body {
  font-family:
    "Vazirmatn",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
  direction: rtl;
  text-align: right;
}
